<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{asset "built/screen.css"}}" />
</head>
<body class="error-template">
    {{> "ghost-header"}}
    <div class="site-wrapper">

        <main id="site-main" class="site-main outer">
            <div class="inner">

                <section class="error-message">
                    <h1 class="error-code">{{code}}</h1>
                    <p class="error-description">{{message}}</p>
                    <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
                </section>
            </div>
        </main>

        {{#get "posts" limit="3"}}
        <aside class="outer">
            <div class="inner">
                <div class="post-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </div>
        </aside>
        {{/get}}

        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="https://ghost.org/about/">About Ghost</a>
                    {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    <a href="https://github.com/tryghost" target="_blank" rel="noopener">Github</a>
                </nav>
            </div>
        </footer>

    </div>
</body>
</html>
