{{!< default}}

<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {{#get "posts" filter="primary_tag:writing" include="authors,tags" limit="3"}}
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div>

        <section class="site-section">
            <header class="site-section-header">
                <h2 class="site-section-title">Product Updates</h2>
                <a class="site-section-morelink" href="{{@blog.url}}/tag/new-things/">See more {{> "icons/arrow-right-small"}}</a>
            </header>
            <div class="post-feed">
                {{#get "posts" filter="primary_tag:new-things" include="authors,tags" limit="3"}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
                {{/get}}
            </div>
        </section>


        {{!-- <div class="post-feed">
            {{#foreach posts}}

                {{> "post-card"}}

            {{/foreach}}
        </div> --}}

    </div>
</main>
