{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}
<header class="tag-header outer no-cover">
    <div class="inner">
        <div class="tag-header-content">
            <div class="tag-header-left">
                <h1 class="tag-title">{{name}}</h1>
                <h2 class="tag-description">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                    {{/if}}
                </h2>
            </div>
            <div class="tag-header-right">
                {{!--Intentionally empty placeholder for CTA--}}
            </div>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>

{{#contentFor "scripts"}}
{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "js/infinitescroll.js"}}"></script>
{{/if}}
{{/contentFor}}
